body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    background-image: url('../images/Fight\ Club\ 1999.JPG');
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */ /* Use the correct path */
    background-size: cover;
    background-position: center;
}

h1{
    color: #C00000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 18%;
    padding-top: 8%;
    font-size: 60px;
}

h2{
    color: #E6E6FA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 18%;
    padding-top: -1%;
    font-size: 15px;
}

h3{
    color: #E6E6FA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 18%;
    padding-top: 1%;
    font-size: 15px;
}

h4{
    color: #E6E6FA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 18%;
    padding-top: 1%;
    font-size: 15px;
}

.view-btn {
    margin-left: 18%;
}

.view-btn:hover {
    background-color: #0056b3;
}

.pdf-container {
    margin-top: 20px;
    display: none; /* Initially hidden */
}

.pdf-frame {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}